.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #fff;
    box-shadow: 10px 0px 20px rgba(0,0,0,.2);
    min-height: 6rem;
    padding: 0 1rem;
}

.title {
    flex: 8;
    order: 1;
    font-weight: 700;
    text-align: left;
}

.theme {
    order: 2;
}

.theme-icon {
    color: #000;
}

.icon {
    stroke: #000;
    fill: rgba(0,0,0,1);
}
