.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    /* background-color: #fff; */
    box-shadow: 10px 0px 20px rgba(0,0,0,.2);
    min-height: 6rem;
    padding: 0 1rem;
}

.title {
    flex: 8;
    order: 1;
    font-weight: 700;
    text-align: left;
}

.theme {
    order: 2;
    
}

.theme, a {
    text-decoration: none;
}

.theme-switch{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    gap: .8rem;
}


.icon {
    align-self: flex-start;
    
}
