.search {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #fff;
    border-radius: .5rem;
    min-height: 3rem;
    box-shadow: 0px 0px 20px rgba(0,0,0,.2);
    margin: 2rem 1.2rem;
    padding: 0 1rem;
}

.search-icon {
    order: 1;
}

.s-input {
    order: 2;
    flex: 8;
    outline: none;
    border: none;
    min-height: 3rem;
    width: 100%;
    font-size: 1.5rem;
    padding: 0 1rem;
}